.note {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.note .note__header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
}

.note .note__header .note__header-date {
  font-size: 14px;
  color: #737373;
}

.note__header-date:hover {
  cursor: default;
}

.note .note__header .note__header-btn {
  display: flex;
}

.note .note__header .note__header-btn .action-btn {
  color: #737373;
  font-size: 14px;
  opacity: 0.6;
  margin: 0 10px;
}

.action-btn:hover {
  /* opacity: 1; */
  cursor: pointer;
  background: green;
}

.note .note__body {
  flex: 1;
  padding: 20px;
}

.note .note__body .note__body-head .note__input {
  padding: 10px;
  font-size: 30px;
  border: none;
  outline: none;
  width: 100%;
}

.note .note__body .note__body-content {
  width: 600px;
  height: 150px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
}

.another-btn {
  border-radius: 10px;
  border: none;
  /* margin: 15px; */
  /* margin-left: 200px; */
  width: 80px;
  height: 30px;
  margin-left: 500px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #03a82d;
  /* background-color: white; */
  padding: 8px 10px;
  border-radius: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: right;
}

.input-7 {
  font-size: 18px;
  width: 200px;
  margin-left: 380px;
}

/* .note .note__body .note__body-content .note-txt {
  width: 400px;
  height: 200px;
  padding: 100px;
  font-size: 16px;
  border: none;
  outline: none;
} */
