/* Define all your CSS styling rules for the
LoginFormPage component in the LoginForm.css file.*/
.nav-btn {
  border-radius: 10px;
  border: none;
  margin: 15px;
  width: 80px;
  height: 30px;
  margin-top: 5px;
  background-color: white;
  padding: 8px 10px;
  border-radius: 50px;
  cursor: pointer;
}
